// Layout Styles

// Display border-box by defailt
// https://css-tricks.com/box-sizing/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

// Containers


/* Standard container, nothing fancy here. */
.container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1000px;
}

// FOOTER LAYOUT

footer{
   display: flex;
    flex-direction: column;
  min-height: 30vh;
}

main, 
[role="main"],
.main {
  flex: 1;
}

.container_footer {
  margin: 0 auto;
  max-width: 600px;
}

.footer {
  background: $dark_blue;
  color: white;
  padding: 24px 0;
  text-align: center;
  z-index: -99;
}

.footer p{
  color:$white;
}

// SET UP LAYOUT
.container_setup {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1200px;
}


/* The media objects will just stack by default with some y-axis margins. */
.mediasetup {
  margin: 30px 0;
  align-content: center;

}

/* At a screen width of 600px or above, we'll use CSS grids for layout. */
@media screen and (min-width: 600px) {
  .mediasetup {
    display: grid;
      align-items: center; /* Flexbox align/justify, etc. props. work in grid too. */
      grid-gap: 250px 50px; /* Just our gutter. */
      grid-template-areas: "image content"; /* We can reference these later... */
      grid-template-columns: 1fr 4fr;
    margin: 64px 0; /* Larger margins for larger screens. */
  }

  /**
   * Change the content/image placement on even media objects.
   *
   * This is called a pseudo-class. You can style specific child elements using
   * it, but note that it will apply the style to any sibling tags, so a pattern
   * of <p> <p> <p> <h2> <p> will include the <h2> in :nth-child(even).
   *
   * Use nth-of-type() if you want to only target siblings of the same type.
   *
   * https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child
   */
  .mediasetup:nth-child(even){
    grid-template-areas: "content image"; /* See how we swapped these? */
    grid-template-columns: 4fr 1fr; /* And these? */
  }

  .mediasetup__image {
    grid-area: image; /* This belongs in our image area, defined above...*/
  }

  .mediasetup__content {
    grid-area: content; /* This belongs in our content area, defined above...*/
  }
}


// Team layout

/* Responsive Grid */
@media screen and (min-width: 640px) {
  .grid {
    display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 24px;
  }
}

/* Flex or Grid Aligners */
.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}




/* Flex or Grid Aligners */
.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}






.team-up-container {
    display:inline-block;
   
    max-width: 400px;
    height:auto;
    justify-content: center;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;

   
      
  }


.team-up-content{

  width: 400px;
  height: auto;



}





